__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.session
*.session-journal
data/
cache/
strm/
media/
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
.idea/
.vscode/
*.swp
*.swo
sing-box/*.exe
sing-box/*.log
xray/
*.log
*.db
chn_ip*.txt
start.ps1
